.sticky-header {
  thead tr th {
    position: sticky;
    z-index: 1;
    background-color: white;
  }

  thead tr:first-child th {
    top: 0;
  }

  /* this is when the loading indicator appears */
  tr:last-child.q-table__progress th {
    /* height of all previous header rows */
    top: 48px;
    position: sticky;
    z-index: 1;
  }
}
