name: CI

on:
  push:
  pull_request:
  schedule:
  - cron: "0 10 * * *"

jobs:
  linters_python:
    name: ubuntu-latest-linters-python
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e '.[dev]'
    - name: Analysing the code with black
      run: black --check .
    - name: Analysing the code with flake8
      run: flake8
    - name: Analysing the code with mypy
      run: mypy src/nrtk_explorer

  linters_vue:
    name: ubuntu-latest-linters-vue
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: vue-components
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 18
    - name: Install dependencies
      run: npm install
    - name: Analysing the code with prettier
      run: npm run prettier:check-all
    - name: Analysing the code with eslint
      run: npm run eslint

  unit_tests:
    needs:
      - linters_python
      - linters_vue
    runs-on: ubuntu-latest
    name: ubuntu-latest-tests-python${{ matrix.python-version}}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e '.[dev]'
    - name: Invoke PyTest
      run: pytest -v .
